@use 'colours' as *;

body {
    font-size: 1rem;
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 400;
}

h1, 
h2, 
h3 {
    font-family: "Fraunces", serif;
    font-weight: 400;

}

footer h3 {
    font-family: "Be Vietnam Pro", sans-serif;
}