@use 'colours' as *;

header {
    background-color: $grey-900;

    .inner-container {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;    
    color: $white;
    text-decoration: none;  
    }

    h1,
    .sign-in {
        padding: 1rem;
    }

    a {
        text-decoration: none;
        text-transform: uppercase;
        color: $white;
    }
    a:hover{
        color: $fire;
    }
    
    svg {
        width: 2rem;
        color: $white;
    }

    button {
        border: none;
        padding: 0.5rem;
        background-color: $grey-900;
    }
    button:hover {
        background-color: $fire;
    }
  
    .search-form {
        max-width: 17.5rem;
        padding: 0 0 0 0.5rem;
        display: flex;
        align-items: center;
        width: 100%;
        height: 3.5625rem;
    }

    .search-form {
        display: flex;
        align-items: center;
        border: 0.0625rem solid $grey-50;
        border-radius: 0.5rem;
    }

    .search-form input {
        background-color: $grey-900;
        border: none;
        flex: 1;
        min-width: 0;
    }

    .search-input {
        text-transform: uppercase;
        color: $grey-300;
    }

    .search-btn {
        background-color: $grey-500;
        border: none;
        border-radius: 0.5rem;
    }  
    
    nav ul {
        list-style-type: none;
    }

    nav a {
        padding: 1rem;
        display: inline-block;
    }

    nav li {
        margin: 0.5rem 0;
    }
}

nav {
    display: none;
    flex: 1 0 100%;
}

.show-nav {
    display: block;
}
