@use 'colours' as *;
@use 'mixins' as *;

.banner {
    background: url(../img/hero-bg.avif) no-repeat;
    background-size: cover;
    background-position: center;
    height: 75rem;
    padding: 5rem 1.5rem;

    .banner-content {
        max-width: 44.125rem;
        margin: 0 auto;
        text-align: center;
    }

    h2 {
        color: $grey-950;
    }

    p {
        text-align: left;
        padding: 1.5rem 0;
        color: $grey-900;
    }

    .btn-a {
        @include button($grey-50, $grey-800);
        margin-top: 17.875rem;
    }

    .btn-b {
        @include button($fire, $grey-800);
    }
}

.tour {
    background: url(../img/topography-bg.avif) no-repeat;
    background-size: cover;
    background-color: $grey-800;
    height: auto;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    padding: 8rem 1.5rem;
    color: $grey-50;

    .tour-content {
        padding-bottom: 1rem;
    }

    img {
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 0.5rem;
    }    
}

.itinerary {
    background-color: $grey-100;
    color: $grey-900;
    padding: 8rem 1.5rem;
    
    p {
        color: $grey-700;
        padding-left: 3.125rem;
    } 

    svg {
        width: 1.5rem;
    }

    .flex {
        display: flex;
        gap: 2rem;

        p { 
            padding-left: 0;
        }
    }
}

.discount {
    background: url(../img/topographyvector.avif) no-repeat;
    background-color: $grey-800;
    height: auto;
    width: auto;
    color: $white;
    align-items: center;
    padding: 8rem 1.5rem;
    
    p {
        padding: 1rem 0;
    }

    .btn-b {
        @include button($fire, $grey-800);
        margin: 2rem 0;
    }

    .discount-form div{
        padding: 0.5rem 0;

        .textbox {
            height: 3rem;
            width: 100%;
            border: none;
            border-radius: 0.5rem;
            margin: 0.5rem 0;
        }
    }
}

@media (width > 800px) { 

    header {
        .main-nav {
            order: 1;
        }

        h1 {
        order: 2;
        }

        .header-wrappper {
            order: 3;
        }

        .sign-in {
            order: 4;
        } 
        .search-form {
            width: 100%;
        }
        nav {
            display: block;
        }
    
        .menu-btn {
            display: none;
        }
    
        nav ul {
            display: flex;
        }
    
        nav {
            flex: 0 0 auto;
        }
    }

    .banner {
            height: 51.875rem;
        }

    .tour {
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);

        .tour-content {
            grid-column: 1 / 3;
            grid-row: 1 / -1;
        }

         img:first-of-type {
            grid-column: 3 / 4;
            grid-row: 1 / 3;
        }

        img:nth-of-type(2) {
            grid-column: 4 / -1;
            grid-row: 1 / 3;
        }

        img:nth-of-type(3) {
            grid-column: 3 / 4;
            grid-row: 2 / 3;
        }

        img:nth-of-type(4) {
            grid-column: 4 / -1;
            grid-row: 2 / 3;
        }

        img:last-of-type {
            grid-column: 3 / 4;
            grid-row: 3 / -1;  
        }
    }

    .discount {
        display: flex;
        align-items: flex-start;
        gap: 2rem;
        .content{
            max-width: 50%;
        }
        .textbox {
            max-width: 100%;
        }
    }

    footer {
        .footer-links {
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(2, 1fr);
        }
    } 
  
}

@media (width > 1200px) { 


    .tour {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(7, 1fr);

        .tour-content {
            max-width: 36.375rem;
            height: 17.3125rem;
            grid-column: 6 / 11;
            grid-row: 3 / 6;
        }

        img:first-of-type {
            grid-column: 1 / 3;
            grid-row: 2 / 5;
        }

        img:nth-of-type(2) {
            grid-column: 3 / 5;
            grid-row: 5 / 7;
        }

        img:nth-of-type(3) {
            grid-column: 4 / 6;
            grid-row: 1 / 3;
        }

        img:nth-of-type(4) {
            grid-column: 8 / 10;
            grid-row: 6 / -1;
        }

        img:last-of-type {
            grid-column: 11 / -1;
            grid-row: 5 / 7;  

        }
    }

    .itinerary {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        
        h3 {
            writing-mode: vertical-rl;  
            transform: rotate(180deg);
            grid-column: 2 / span 3;
            text-align: center;
        }

        .itinerary-content {
            grid-column: 5 / span 12;
        }
    }

    .discount {
        .name {
            display: flex;
            gap: 1rem;
        }
    }

    footer {
        .footer-content {
            display: flex;
            gap: 1rem;
        }
        
        .footer-links {
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(3, 1fr);
        }
    } 
}