@use 'colours' as *;

@mixin button($bg-color, $color) {
    background-color: $bg-color;
    color: $color;
    text-transform: uppercase;
    text-decoration: none;
    padding: 8px;
    margin: 0.5rem;
    display: inline-block;
    border: none;
    border-radius: 80px;
    margin: 10px;
    width: 100%;
    max-width: 320px;
    &:hover {
        background-color: $grey-900;
        color: $white;
        border: 2px solid $white;
    }

}